{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <label for="" id="logo">Logo</label>
        <div class="nav-center">
            <a href="#">Produtos</a>
            <a href="#">Pedidos</a>
            <a href="#">Relatório</a>
        </div>
        <div class="nav-right">
            <input type="text" name="Nome" size="15" id="barra-pesquisa" />
            <button>Sair</button>
        </div>
    </nav>
    <a href="{% url 'adicionar_produto' %}">
        <button type="submit" id="add">Adicionar Produtos</button>
    </a>
    <main>
        <div>
            <section id="produtos">
                <table border="">
                    <thead>
                        <th>Produtos</th>
                        <th>Categoria</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Estoque</th>
                    </thead>
                    <tbody>
                        {% for produto in produtos %}
                        <tr>
                            <td>
                                <a href="{% url 'produto' produto.id %}">{{produto.nome}}</a>
                            </td>
                            <td>
                                {{produto.categoria}}
                            </td>
                            <td>
                                {{produto.preco}}
                            </td>
                            <td>
                                {{produto.quantidade}}
                            </td>
                            <td>
                                {{produto.em_estoque}}
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </section>
        </div>
    </main>
</body>

</html>