{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <h1>Produtos</h1>
        <h1>Pedidos</h1>
        <h1>Relatório</h1>
        <input type="text" name="Nome" size="15" />
    </nav>
    <button type="submit"></button>
    <main>
        <div class="add-prod">
            <a href="{% url 'adicionar_produto' %}" id="add">Adicionar Produtos</a>
        </div>
        <div>
            <section id="produtos">
                <table border="">
                    <thead>
                        <th>Produtos</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Estoque</th>
                    </thead>
                    <tbody>
                        {% for produto in produtos %}
                        <tr>
                            <td>
                                <a href="{% url 'produto' produto.id %}">{{produto.nome}}</a>                               
                            </td>
                            <td>
                                {{produto.preco}}
                            </td>
                            <td>
                                {{produto.quantidade}}
                            </td>
                            <td>
                                {{produto.em_estoque}}
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </section>
        </div>
    </main>
</body>
</html>

